@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(40,40,40);
}

h4, h5, h3, h2, h1, p {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 1em;
    margin-left: 2%;
}

.navbar > h1 {
    font-size: 200%;
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding: 0;
    border: 0;
    margin: 0;
    position: fixed;
    font-size: 32px;
    top: calc(5vh - (43px/2));
    left: 2%;
}

.header {
    margin-top: calc(10vh + 1em);
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    image-orientation: from-image;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    z-index: -1;
}

#img_bg_1 {
    background-image: url("https://media.npr.org/assets/img/2017/06/07/india-pollution_custom-36fb50c6e26e115c6306aa95d9d9027cae8da90f.jpg");
    left: 0;
    top: 10vh;
}

div.text {
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
}